body {
    background-color: rgb(206, 206, 206);
}

.boton {
    width: 380px;
    height: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 60px;
  }

.boton1 {
    background-color: rgb(230, 230, 230);
    border: 4px solid #3f3f3f;
    font-size: 34px;
    color:rgb(49, 49, 49);
  }
  
  .boton1:hover {
    color:rgb(49, 49, 49);
    text-shadow: 3px 3px rgba(70, 70, 70, 0.501);
  }

  h1 {
      text-align: center;
    font-size: 150px;
    color:rgb(118, 118, 118);
    -webkit-text-stroke: 2px rgb(79, 79, 79);
    text-shadow: -4px 3px 0 rgb(206, 206, 206), -10px 7px 0 #9b9b9b;
    }

    h2 {
      text-align: start;
      margin-left: 18px;
      margin-top: -5px;
      font-size: 80px;
      color:rgb(118, 118, 118);
      -webkit-text-stroke: 2px rgb(79, 79, 79);
      text-shadow: -10px 7px 0 #9b9b9b;
      }

    .section1 {
        display: grid;     
        grid-template-columns: 10% 80% 10%;   
    }

    article {
      text-align:  center;
  }

  .article4 {
    grid-column: 1;
    text-align: start;
    grid-column-start: 1;
    margin-left: 12px;
  }

    form {
        margin-left: 15px;
    }

    h3 {
      margin-bottom: 1px;
      font-size: 20px;
      color:rgb(95, 95, 95);
      }


    .section3 {
      display: grid;
      margin-top: -40px;
      min-height: 100%;
      min-height: 500px;
    }

    .article2 {
      grid-column: 1;
      text-align: start;
      grid-column-start: 1;
    }

    .article3 {
    margin-bottom: -10px;
    grid-row-start: 2;
    max-height: auto;
    text-align: end;
    }

    .boton3 {
      margin-right: 10px;
      margin-top: 250px;
    }
    


    .boton4 {
      margin-right: 10px;
      margin-top: 400px;
    }

    .edad {
      text-align: start;
}
      

.article5 {
  text-align: start;

}
      .article6 {
        text-align: start;
        margin-left: -18px;
      }

      /*
      text-align: center;
      grid-row-start: 2;
      grid-column-start: 2;

      text-align: start;
      grid-row-start: 3;
      grid-column-start: 1;

      text-align: end;
      grid-row-start: 3;
      grid-column-start: 3;
      */


/*
---------------------BOTON DE SIGUIENTE---------------------
*/

.section2 {
    display: grid;     
    grid-template-columns: 33% 34% 33%; 
    margin-top: 18%;
  }

  .article1 {
      text-align: end;
  }

.boton2 {
    width: 200px;
    height: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 60px;
  }

.boton2 {
    background-color: rgb(230, 230, 230);
    border: 4px solid #3f3f3f;
    font-size: 34px;
    color:rgb(49, 49, 49);
  }
  
  .boton2:hover {
    color:rgb(49, 49, 49);
    text-shadow: 3px 3px rgba(70, 70, 70, 0.501);
  }
/*
------------------------------------------------------------
*/


.section7 {
margin-top: -470px;
  grid-row-start: 2;
  text-align: end;
  }

  .article7 {
text-align: end;
  }